/*Lembrar de colocar classes de acordo com o capitulo 8*/
/*Lembrar que deve-se prativar posicionamento de acordo com o exercicio, AULA 11.*/
body {
    font-family: "Crimson Text", "Time New Roman", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
}

h1, h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    
}
h2{
    font-size: 1.5rem;
    clear: both;
}

main h1{
    font-size: 300%;
    background-color: #851944;
    color: #FFFFFF;
    text-align: center;
    padding: 1.25rem;
    border-bottom: 0.5rem solid black;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}

p{
 text-align: justify; 
 margin: 1em 0;
}

blockquote {
    background-color: #D9E5E3;
    padding: 1em;
    border: 0.5em solid #C2CCCA;
    width: 30ch;
    box-sizing: border-box;
    margin: 1em 2em;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    clear: right;
    box-sizing: border-box;
    
}

aside h1{
    font-size: 2rem;
    margin-bottom: 1.25em;
}

ul{
    list-style-type:none;
}

nav a {
    color: #F2FFFC;
    text-transform: lowercase;
}

main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
  
}

main div {
    width: 50%;
    margin: auto;
    padding: 2em 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


aside, .imagem-logo{
    float: right;
    width: 15%;
    box-sizing: border-box;
    border-left: 0.5em solid black;
    border-bottom: 0.5em solid black;
}
main {
    width: 84%;
    float: left;
    padding-bottom: 8em;
}

cite {
    float: right;
    font-style: italic;
}

/*Sessão de classes*/
/*Lembrar de colocar classes de acordo com o capitulo 8*/

.imagem-logo{
   width: 16%; 
}

.redes-sociais li{
    display: inline-block;
}

.redes-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}

.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}

.citacao-bio:nth-of-type(odd){
    float: right;
}

.citacao-bio:nth-of-type(even){
    float: left;
}
/*Sessão de IDs*/

#rodape-pagina {
    color: #F2FFFC;
    padding: 1em;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(ellipse at left bottom,
    rgba(60, 29, 61, 0.8),
    rgba(60, 29, 61, 0.8) 65%,
    black 65%,
    black 70%,
    transparent 70%,
    transparent);
    width:100%;
    background-size: 25% 100%;
    background-repeat: no-repeat;
}

main a:hover,
main a:focus,
footer a:hover,
footer a:focus {
    color: red;
}

nav a:hover,
nav a:focus {    text-shadow: 0 0 2px pink;
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}